body {
    background-image: url(images/backgroundImg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#field {
    background-color: black;
    overflow: hidden;
    position: absolute;
    left: 250px;
    top: 50px;
    width: 515px;
    height: 515px;
    display: none;
}

#gameState {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 200px;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: "Calibri", "Trebuchet MS", sans-serif;
    border:1px solid white;
    display: none;
}

#points {
    position: absolute;
    top: 300px;
    left: 20px;
    width: 200px;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: "Calibri", "Trebuchet MS", sans-serif;
    border:1px solid white;
    display: none;
}

.item {
    width: 63px;
    height: 63px;
    position: absolute;
}

.selected {
    opacity: 0.5;
}

#startGame{
    padding-top: 15%;
    height: 200px;
}

#startGame #btnStart{
    width: 20%;
    height: 40px;
    margin-left: 40%;
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 40px;
    color: white;
    font-size: 20px;
}

#startGame #selectMode{
    width: 20%;
    margin-left: 40%;
    color: white;
    font-size: 20px;
}

#startGame #selectLevelMode{
    width: 100%;
    color: white;
    font-size: 20px;
    margin-left: 5%;
    display: none;
}

#startGame #btnStart:hover{
    background-color: rgb(60,60,60);
}

#btnHint{
    position: absolute;
    top: 450px;
    left: 20px;
    width: 200px;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: "Calibri", "Trebuchet MS", sans-serif;
    border:1px solid white;
    border-radius: 20px;
    display: none;
}

#btnShuttle{
    position: absolute;
    top: 500px;
    left: 20px;
    width: 200px;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: "Calibri", "Trebuchet MS", sans-serif;
    border:1px solid white;
    border-radius: 20px;
    display: none;
}

#btnHint:hover, #btnShuttle:hover{
    background-color: rgb(60,60,60);
    cursor: pointer;
}

#showProgress
{
    display: none;
}

#progress{
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    margin:0 0 0 0;
    top: 680px;
    width:96%;
    height: 5px;
    background-color: white;
}

#progress #complete{
    padding-left:0px;
    left:0;
    width:30%;
    height: 5px;
    background-color: rgb(0,150,255);
}

#timerHeader{
    font-size: 24pt !important;
    color: white !important;
    margin-top: 15px;
    margin-bottom: -21px;
}

#secondBox{
        
}

#minuteBox{
     margin-right: -20px;
}